
<link rel="stylesheet" href="/addProduct.css">
<!--xxx-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{{!-- bootstrap 5 below,just used for gradient--}}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<!--xx-->

     
    <title>Add Products</title>
</head>
<body>

    <!--start of form-->
<div class="p-3 mb-2 bg-dark text-white gradient-custom">
<center>
<form action="addedProduct" method="post" class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>ADD A PRODUCT</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="farmer_id">FARMER ID</label>
            <div class="col-md-4">
                <input id="farmer_id" name="farmer_id" placeholder="FARMER ID" class="form-control input-md" required="" type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_id">PRODUCT ID</label>
            <div class="col-md-4">
                <input id="product_id" name="product_id" placeholder="PRODUCT ID" class="form-control input-md" required="" type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
            <div class="col-md-4">
                <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class="form-control input-md" required="" type="text">
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_type">PRODUCT TYPE</label>
            <div class="col-md-4">
                <select id="product_type" name="product_type" class="form-control">
                    <option selected value="Vegetables">Vegetables</option>
                    <option value="Fruits">Fruits</option>
                    <option value="Grains">Grains</option>
                </select>
            </div>
        </div>


        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="expiry_date"> Expiry Date</label>
            <div class="col-md-4">
                <input id="expiry_date" name="expiry_date" placeholder="DD/MM/YYYY" class="form-control input-md" required="" type="date">

            </div>
        </div>

        <!-- Text input-->
         <div class="form-group">
            <label class="col-md-4 control-label" for="quantity">Quantity</label>
            <div class="col-md-4">
                <input id="quantity" name="quantity" placeholder="" class="form-control input-md" required="" type="number">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="price">PRICE PER UNIT(USD $)</label>
            <div class="col-md-4">
                <input id="price" name="price" placeholder="Enter a USD value(Ex:10)" class="form-control input-md" required="" type="number">

            </div>
        </div>



        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
            <div class="col-md-4">
                <textarea class="form-control" id="product_description" name="product_description"></textarea>
            </div>
        </div>

        {{!--Upload Picture--}}
        <div class="form-group">
          <div class="input-group mb-3 col-md-4">
            <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
          </div>
        </div>

                <!-- Button -->
                <div class="form-group">
                    <div class="col-md-4">
                        <button id="submitbutton" name="submitbutton" class="btn btn-outline-success">Submit Product</button>
                    </div>
                </div>

    </fieldset>
</form>
</center>
</div>

<!--end of form-->

