<!DOCTYPE html>
<html lang="en">

<head>

<link rel="stylesheet"  href="/alogin.css">

<title> Carbonic - Admin_Login </title>

</head>

<body>

  <div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first">
      <h1> Admin Login </h1>
    </div>

    <form>
      <input type="text" id="aemail" class="fadeIn second" name="adminlogin" placeholder="Enter Email Address">
      <input type="text" id="apsw" class="fadeIn third" name="adminlogin" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Login">
    </form>

    <div id="formEnd">
      <a class="underlineHover" href="#" style="text-decoration: none">Forgot Password?</a>
    </div>

  </div>
</div>

</body>
</html>