<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
     <link rel="stylesheet" href="/contactus.css">
  <script>
       function myFunction() {
          Swal.fire('Your Email is sent..Thank You!')
           }
           
           
	  window.onload=function(){
        const contactForm=document.querySelector('.contact-form');
        let name=document.getElementById("name")
              let email=document.getElementById("email")
                let subject=document.getElementById("subject")
                  let message=document.getElementById("message")

                  
        contactForm.addEventListener('submit',(e)=>{
            e.preventDefault();

            let formData={
                name:name.value,
                email:email.value,
                subject:subject.value,
                message:message.value,

            }
            let xhr=new XMLHttpRequest();
            xhr.open('POST','/auth/contact');
            xhr.setRequestHeader('content-type','application/json');
            xhr.onload==function(){
                alert('Email sent');
                console.log(xhr.responseText);
                if(xhr.responseText=='sucess'){

                     alert('Email sent');
                    name.value='';
                    email.value='';
                    subject.value='';
                    message.value='';
                }else{
                    alert('Something went wrong');
                }
            }
            xhr.send(JSON.stringify(formData));
            
        })
        }
    </script>
  </head>
  <body>
    <div class="container">
      <span class="big-circle"></span>
      <img src="img/shape.png" class="square" alt="" />
      <div class="form">
        <div class="contact-info">
          <h3 class="title">Let's get in touch</h3>
          <p class="text">
           If you have any problem,please letus know.
           You are our strength.
          </p>

          <div class="info">
            <div class="information">
              <img src="img/location.png" class="icon" alt="" />
              <p>Carbonic,New Kandy Road,Malabe</p>
            </div>
            <div class="information">
              <img src="img/email.png" class="icon" alt="" />
              <p>carbonic30@gmail.com</p>
            </div>
            <div class="information">
              <img src="img/phone.png" class="icon" alt="" />
              <p>0112 250 1610</p>
            </div>
          </div>

          <div class="social-media">
            <p>Connect with us :</p>
            <div class="social-icons">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="contact-form">
          <span class="circle one"></span>
          <span class="circle two"></span>

            <form class="contact-form" action="/auth/contact"  method="post"> 
            <h3 class="title">Contact us</h3>
            <div class="input-container">
              <input type="text" id="name" name="name" class="input" placeholder="Full Name"/>
			 
             
            </div>
            <div class="input-container">
              <input type="email" name="email" id="email" placeholder="Email Address" class="input" />
              
            </div>
            <div class="input-container">
              <input type="text" id="subject" name="subject" placeholder="Subject" class="input" />
              
            </div>
            <div class="input-container textarea">
              <textarea id="message" cols="30" placeholder="message" name="message" rows="10" class="input"></textarea>
              
            </div>
            <input type="submit" value="Send" onclick="myFunction()" class="btn" />
          </form>
        </div>
      </div>
    </div>

   
  </body>
</html>
