








<div class="card text-center">
  <div class="card-header">
   Carbonic.com
  </div>
  <div class="card-body">
      <div class="image-container">
         <img  src="/img/success.png">
     </div>
    <h5 class="card-title">Success!</h5>
    <p class="card-text">Successfully Deleted pickup details!</p>