<link rel="stylesheet" href="/header.css">
<link rel="stylesheet" href="/footer.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<img class="logo1" src="img/logo.svg" width="200px" height="200px">
      <nav>
         <img class="logo" src="img/carbonic-favicon-01.svg" width="200px" height="200px">
         <ul>
            <li><a class="active" href="/index">Home</a></li>
            
            <li>
               <a href="#">Browse Products
               <i class="fas fa-caret-down"></i>
               </a>
               <ul>
                  <li><a href="#">Vegetables</a></li>
                  <li><a href="#">Fruits</a></li>
                  <li>
                     <a href="#">Others
                     <i class="fas fa-caret-right"></i>
                     </a>
                     <ul>
                        <li><a href="#">Plants & seeds</a></li>
                        <li><a href="#">Grains</a></li>
                        <li><a href="#">Fertilizer</a></li>
                     </ul>
                  </li>
               </ul>
            </li>
            <li><a href="#">Contact Us</a></li>
             <li><a href="#">About Us</a></li>
            <li><a href="#">Feedback</a></li>
            {{# if user}}
               <li>
               <a href="/fprofile">Profile
               {{!-- <i class="fas fa-caret-down"></i> --}}
               </a>
               {{!-- <ul>
                  <li><a href="/fregister">Farmer</a></li>
                  <li><a href="/bregister">Buyer</a></li>
               </ul> --}}
            </li>
            <li>
               <a href="/fhand/logout">Log Out
               {{!-- <i class="fas fa-caret-down"></i> --}}
               </a>
               {{!-- <ul>
                  <li><a href="/login">Farmer</a></li>
                  <li><a href="#">Buyer</a></li>
               </ul> --}}
            </li>
            {{else}}
             <li>
               <a href="#">Register
               <i class="fas fa-caret-down"></i>
               </a>
               <ul>
                  <li><a href="/fregister">Farmer</a></li>
                  <li><a href="/bregister">Buyer</a></li>
               </ul>
            </li>
            <li>
               <a href="#">Switch To
               <i class="fas fa-caret-down"></i>
               </a>
               <ul>
                  <li><a href="/login">Farmer</a></li>
                  <li><a href="#">Buyer</a></li>
               </ul>
            </li>
            {{/if}}
         </ul>
      </nav>

<br><br><br><br>



	<link rel="stylesheet" href="/feedback.css"> 


<div id="totalContent">
  <div class="wrapper">
  	<div id="formContent">

  		<div id="FormBeg">
  			<h1> Feedback </h1>
  			<h3> Feel free to add your complaints and Suggestions </h3>
  		</div>

  		<form>
  			<lable for="cuzid"> Customer ID :  </lable> <br>
  			<input type="text" id="cuzid" name="feedbackForm" placeholder="Enter Your Customer ID"> <br>

  			<lable for="cuzName"> Customer Name :  </lable> <br>
  			<input type="text" id="cuzName" name="feedbackForm" placeholder="Enter Your Name"> <br>

  			<label> Select Type : </label> <br>
  			<label id="rdbtn" for="complaint"> Complaint </label>
  			<input type="radio" id="complaint" name="feedbackForm" value="Complaint">
  			<label id="rdbtn" for="Suggestion"> Suggestion </label>
  			<input type="radio" id="Suggestion" name="feedbackForm" value="Suggestion"> <br>

  			<label> Comments :  </label> <br>
  			<textarea name="feedbackForm"> Leave Your Comments here... </textarea> <br>

  			<input type="submit" name="feedbackForm" value="Submit Feedback">
  		</form>

  	</div>
  </div>
  </div>



 

    <!--footer-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">Vegetables</a></li>
          <li><a href="#">Fruits</a></li>
          <li><a href="#">Beans</a></li>
          <li><a href="#">others</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer-->
    

