<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Dropdown Menu Bar</title>
      <link rel="stylesheet" href="/header.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      </head>
   <body>
      <img class="logo1" src="img/logo.svg" width="200px" height="200px">
      <nav>
         <img class="logo" src="img/carbonic-favicon-01.svg" width="200px" height="200px">
         <ul>
            <li><a class="active" href="#">Home</a></li>
            <li>
               <a href="#">Switch To
               <i class="fas fa-caret-down"></i>
               </a>
               <ul>
                  <li><a href="#">Selling</a></li>
                  <li><a href="#">Buying</a></li>
               </ul>
            </li>
            <li>
               <a href="#">Browse Products
               <i class="fas fa-caret-down"></i>
               </a>
               <ul>
                  <li><a href="#">Vegetables</a></li>
                  <li><a href="#">Fruits</a></li>
                  <li>
                     <a href="#">Others
                     <i class="fas fa-caret-right"></i>
                     </a>
                     <ul>
                        <li><a href="#">Plants & seeds</a></li>
                        <li><a href="#">Grains</a></li>
                        <li><a href="#">Fertilizer</a></li>
                     </ul>
                  </li>
               </ul>
            </li>
            <li><a href="#">Contact Us</a></li>
             <li><a href="#">About Us</a></li>
            <li><a href="#">Feedback</a></li>
             <li>
               <a href="#">Login | Sign In
               <i class="fas fa-caret-down"></i>
               </a>
               <ul>
                  <li><a href="#">Farmer</a></li>
                  <li><a href="#">Buying</a></li>
               </ul>
            </li>
            <li><a href="#">Register</a></li>
         </ul>
      </nav>
      <section></section>
   </body>
</html>