<link rel="stylesheet" href="/header.css">
<link rel="stylesheet" href="/footer.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<img class="logo1" src="img/logo.svg" width="200px" height="200px">
<nav>
    <img class="logo" src="img/carbonic-favicon-01.svg" width="200px" height="200px">
    <ul>
        <li><a class="active" href="/index">Home</a></li>

        <li>
            <a href="#">Browse Products
                <i class="fas fa-caret-down"></i>
            </a>
            <ul>
                <li><a href="#">Vegetables</a></li>
                <li><a href="#">Fruits</a></li>
                <li>
                    <a href="#">Others
                        <i class="fas fa-caret-right"></i>
                    </a>
                    <ul>
                        <li><a href="#">Plants & seeds</a></li>
                        <li><a href="#">Grains</a></li>
                        <li><a href="#">Fertilizer</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Feedback</a></li>
        <li>
            <a href="#">Register
                <i class="fas fa-caret-down"></i>
            </a>
            <ul>
                <li><a href="/fregister">Farmer</a></li>
                <li><a href="/bregister">Buyer</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Switch To
                <i class="fas fa-caret-down"></i>
            </a>
            <ul>
                <li><a href="/login">Farmer</a></li>
                <li><a href="#">Buyer</a></li>
            </ul>
        </li>
    </ul>
</nav>




<link rel="stylesheet" href="/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />



<div class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Sell or Buy<br>All In One Place.</div><br>
            <div class="text-4">During this panademic situation happening all over the world <br> why did you risk your lifes going to the grocery stores.
                Instead of that try this .<br> We gurantied you that we have have the highest quality fresh products to lowest price.<br>
                Why don't you give it a try ?
            <br> <h3> We Are,</h3></div>
            
            <div class="text-2">Carbonic</div>

            <div class="text-3">You Can Buy <span class="typing"></span></div>
            <a href="shoppingcart">Shop Now</a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="text-5"><a href="pdf">Report</a></div>
        </div>
       
    </div>
</div>

<script src="/javascripts/home.js"></script>

<!--footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">Vegetables</a></li>
                    <li><a href="#">Fruits</a></li>
                    <li><a href="#">Beans</a></li>
                    <li><a href="#">others</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer-->