<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Carbonic - Home</title>
    <!-- display  favicon -->
	<link rel = " shortcut icon " href = "img/carbonic-favicon-01.svg">
</head>
<body>
    <h1>Carbonic project</h1>
    <a href="/bregister">register</a> <br>
    
    <a href="/pickupform">PickupForm</a><br>

    <a href="/pickupcancel">Pickup Cancel</a><br>

    <a href="/pickupdetailstable">Pickup details table</a><br>

<<<<<<< Updated upstream
    <a href="/addproduct">Add Products</a> <br>

    <a href="/header">header</a> <br>

    <a href="/login">Login</a> <br>

    <a href="/fregister">Farmer Registration</a>
=======
    <a href="/requests">Requests</a><br>
    
     <a href="/addproduct">Add Products</a> <br>

    <a href="/header">header</a>
>>>>>>> Stashed changes
</body>
</html>