<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>

<h1>HTML Links</h1>

<p><a href="pdf">Visit W3Schools.com!</a></p>

</body>
</html> 
 

<head>
  <title>Invoice</title>

<style>
body {
  background-image: url("img/invoiceback.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>




  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->




<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row p-5">
                        <div class="col-md-6">                       <img src="img/receiptlogo.jpeg">
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-1"><b>Invoice #550</b></p>
                            <p class="text-muted">Due to: 4 Dec, 2019</p>
                        </div>
                    </div>

                    <hr class="my-5">

                    <div class="row pb-5 p-5">
                        <div class="col-md-6">

                          <p class="font-weight-bold mb-4"><span class="badge bg-success"><h3>Client Information</h3></span></p>
                            <p class="mb-1">Bovini Niboja</p>
                            <p>Sri Upasena Mawatha Baddegama</p>
                            <p class="mb-1">bniboja@gmail.com</p>
                            <p class="mb-1">23/12/2020</p>
                        </div>  

                        <div class="col-md-6 text-right">
<p class="font-weight-bold mb-4"><span class="badge bg-warning text-dark"><h3>Payment Details</h3></span></p>
                            <p class="mb-1"><span class="text-muted">VAT: </span> 1425782</p>
                            <p class="mb-1"><span class="text-muted">VAT ID: </span> 10253642</p>
                            <p class="mb-1"><span class="text-muted">Payment Type: </span> Cash on Delivery</p>
                            <p class="mb-1"><span class="text-muted">Name: </span> Bovini Niboja</p>
                        </div>
                    </div>
                            
                            
<div class="container">


			      
  <table class="table">
<table class="table table-hover">






    <thead>
      <tr>

        <th>ID</th>
        <th>Item</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Unit Cost</th>
         <th>Total</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>10022</td>
        <td>Cabbage</td>
        <td>LTS </td>
         <td>100</td>
         <td>LKR.100.00</td>
         <td>LKR.10000.00</td>
      </tr>
      <tr>
      <td>12890</td>
        <td>Capsicum</td>
        <td>Support </td>
         <td>100</td>
         <td>LKR.150.00</td>
         <td>LKR.15000.00</td>
      </tr>
      <tr>
        <td>35678</td>
        <td>Green Chilies</td>
        <td>Support </td>
         <td>70</td>
         <td>LKR.200.00</td>
         <td>LKR.14000.00</td>
      </tr>
    </tbody>
</table>
</table>


</div>
 <div class="d-flex flex-row-reverse bg-dark text-white p-4">
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Grand Total</div>
                            <div class="h3 font-weight-light"><p class="h3">LKR.39000.00</p></div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Discount</div>
                            <div class="h2 font-weight-light">0%</div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Sub - Total amount</div>
                            <div class="h2 font-weight-light"><button type="button" class="btn btn-warning"><h1>LKR.39000.00</h1></button></div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <style>
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: ;
  margin: auto;
}
/* Caption text */
.text {
  color: #da132d;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #da132d;
  font-size: 15px;
  padding: 8px 15px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgb(34, 19, 177);
  border-radius: 100%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #456789;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5.0s;
  animation-name: fade;
  animation-duration: 5.0s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
</style>

<div class="slideshow-container"></div>
                    
<div class="mySlides fade">
  <div class="numbertext">1 / 3</div>
  <img src="img/invoice1.jpg" style="width:70%">
  <div >Recent  Invoices Are Updated </div  >
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 3</div>
  <img src="img/invoice2.jpg" style=" width :70%">
  <div >If You Want To Purchase The Order</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 3</div>
  <img src="img/invoice3.jpg" style="width:70%">
  <div>We Will Genate Your Invoice</div>
  
  
 
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

</style>


<script>
var slideIndex = 0;
showSlides();
function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 5000); // Change image every 2 seconds
}
</script>
<script src="invoicetemplate.js"></script>

</body>
</html>