<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Carbonic - Login</title>
</head>
<body>
  <div class = "container mt-5" style="width:25%; background-color: whitesmoke;">

            <form action = "" method = "">

               <center> <h1 style="font-weight: bold; color: seagreen; float: left;"> Login </h1> </center> <br> <br>
               <hr style="border: 2px solid black;">   
               
               <br>

                <div class="form-group">
                    
                    <input type="email" class="form-control" id="mailadd" aria-describedby="emailHelp" placeholder="Enter Your E-mail Address" pattern="[a-zA-Z0-9.%+-]*{8}" required style="border-color: yellowgreen; border-width: 4px;">
                    
                  </div>

                  <div class="form-group">
                    
                    <input type="password" class="form-control" id="passcode" placeholder="Enter Your Password" required style="border-color: yellowgreen; border-width: 4px;">
                  </div>

                  <div class="form-check" style="text-align: center; color:black; font-weight: bold;">

                      <input class="form-check-input" type="radio" name="checkT" id="checkF" value="option1" checked style="position: absolute; left: 20%">
                      <label class="form-check-label" for="checkF" style="position: absolute; left: 22%"> Farmer </label>

                      <input class="form-check-input" type="radio" name="checkT" id="checkB" value="option2" style="position: absolute; left: 70%">
                      <label class="form-check-label" for="checkB" style="position: absolute; left: 72%"> Buyer </label> <br/><br/>

                  </div>

                  <button type="submit" class="btn btn-primary" style="background-color: white; color: darkred; font-weight: bold; width: 100%; border: 4px darkred solid;"> Login </button>
                  <br><br>

                  <div style="text-align: center;">
                    <a href="" style="color:tomato; font-weight: bold; text-decoration: none;"> Forgotten Password ? </a>
                  </div> <br>

                  <p style="color: black; font-weight: bold;"> Don't You have an Account ? </p>

                  <center>
                  <button type="" class="btn btn-primary" style="background-color: white;  width: 45%; border: 4px green solid"> <a href="" style="text-decoration: none; color:dimgray; font-size: small; font-weight: bold;"> Register as a Farmer </a></button>
                  <button type="" class="btn btn-primary"  style="background-color: white;  width: 45%; border: 4px green solid"> <a href="" style="text-decoration: none; color:dimgray; font-size: small; font-weight: bold;">Register as a Buyer </a></button>
                  </center> <br>

            </form>

        </div>
</body>
</html>