<script>
  var i = 0; // Start Point
  var images = []; // Images Array
  var time = 3000; // Time Between Switch
  
  // Image List
  images[0] = "../img/slider2.png";
  images[1] = "../img/slider3.png";
  images[2] = "../img/slider4.png";
  images[3] = "../img/slider5.png";
  images[4] = "../img/slider6.png";
  
  // Change Image
  function changeImg() {
    document.slide.src = images[i];
  
    // Check If Index Is Under Max
    if (i < images.length - 1) {
      // Add 1 to Index
      i++;
    } else {
      // Reset Back To O
      i = 0;
    }
  
    // Run function every x seconds
    setTimeout("changeImg()", time);
  }
  
  // Run function when page loads
  window.onload = changeImg
  </script>


  <title>Carbonic - Login</title>

  <link rel="stylesheet" href="/header.css">
     <link rel="stylesheet" href="/footer.css">

     <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- display  favicon -->
	<link rel = " shortcut icon " href = "img/carbonic-favicon-01.svg">

  <img class="logo1" src="../img/logo.svg" width="200px" height="200px">
      <nav>
         <img class="logo" src="../img/carbonic-favicon-01.svg" width="200px" height="200px">
         <ul>
            <li><a href="/" style="text-decoration: none;">Home</a></li>
            
            <li>
               <a href="/shoppingcart" style="text-decoration: none;">Browse Products
               {{!-- <i class="fas fa-caret-down"></i> --}}
               </a>
               {{!-- <ul>
                  <li><a href="#" style="text-decoration: none;">Vegetables</a></li>
                  <li><a href="#" style="text-decoration: none;">Fruits</a></li>
                  <li>
                     <a href="#" style="text-decoration: none;">Others
                     <i class="fas fa-caret-right"></i>
                     </a>
                     <ul>
                        <li><a href="#" style="text-decoration: none;">Plants & seeds</a></li>
                        <li><a href="#" style="text-decoration: none;">Grains</a></li>
                        <li><a href="#" style="text-decoration: none;">Fertilizer</a></li>
                     </ul>
                  </li>
               </ul> --}}
            </li>
            <li><a href="/contactus" style="text-decoration: none;">Contact Us</a></li>
             <li><a href="#" style="text-decoration: none;">About Us</a></li>
            <li><a href="/feedback" style="text-decoration: none;">Feedback</a></li>
             <li>
               <a href="#" style="text-decoration: none;">Register
               <i class="fas fa-caret-down"></i>
               </a>
               <ul>
                  <li><a href="/fregister" style="text-decoration: none;">Farmer</a></li>
                  <li><a href="/bregister" style="text-decoration: none;">Buyer</a></li>
               </ul>
            </li>
            <li>
               <a href="#" class="active" style="text-decoration: none;">Switch To
               <i class="fas fa-caret-down"></i>
               </a>
               <ul>
                  <li><a href="/login" style="text-decoration: none;">Farmer</a></li>
                  <li><a href="/blogin" style="text-decoration: none;">Buyer</a></li>
               </ul>
            </li>
         </ul>
      </nav>



<br><br><br><br>

<div class="container mt-5">

  <div class="row">

    <div class="col-7">

      <br><br><br><br><br><br><br><br>

          <center>  <img name="slide" width="100%" height="100%" /> </center>

    </div>

    <div class="col-5">

      <br><br>

  <div class = "container mt-4" style="width:90%; background-color: whitesmoke;">

            <form action = "fhand/login" method = "POST">

               <center> <h1 style="font-weight: bold; color: seagreen; float: left;"> Login </h1> </center> <br> <br>
               <hr style="border: 2px solid black;">   
               
               <br>

                <div class="form-group">
                    
                    <input type="email" class="form-control" id="femail" name="femail" aria-describedby="emailHelp" placeholder="Enter Your E-mail Address" pattern="[a-zA-Z0-9.%+-]*{8}" required style="border-color: yellowgreen; border-width: 4px;">
                    
                  </div>

                  <div class="form-group">
                    
                    <input type="password" class="form-control" id="fpwd" name="fpwd" placeholder="Enter Your Password" required style="border-color: yellowgreen; border-width: 4px;">
                  </div> <br>

                  <button type="submit" class="btn btn-primary" style="background-color: white; color: darkred; font-weight: bold; width: 100%; border: 4px darkred solid;"> Login </button>
                  <br><br>

                  <div style="text-align: center;">
                    <a href="/resetpassword" style="color:tomato; font-weight: bold; text-decoration: none;"> Forgotten Password ? </a>
                  </div> <br>

                  <p style="color: black; font-weight: bold;"> Don't You have an Account ? </p>

                  <center>
                  <a href="/fregister" class="btn btn-primary" style="background-color: white; border: 4px green solid; color:dimgray; font-size: small; font-weight: bold;">Register as a farmer</a>
                  </center> <br>

            </form>

        </div>

      </div>

  </div>

</div>

      {{#if message}}
                         <h4 class="alert alert-danger mt-4">{{message}}</h4>
                         
      {{/if}}

        <br><br><br>


<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about us</a></li>
          <li><a href="#">our services</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">returns</a></li>
          <li><a href="#">order status</a></li>
          <li><a href="#">payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">Vegetables</a></li>
          <li><a href="#">Fruits</a></li>
          <li><a href="#">Beans</a></li>
          <li><a href="/forumHome">others</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
