<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
        <title>Schedule Your PickUp</title>
        <link rel="stylesheet" href="/pickupstyles.css">

    </head>
    <body>
        <div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Schedule Your Pickup</h3>
            <p class="blue-text">Just answer a few questions<br> so that we can personalize the right experience for you.</p>
            <div class="card">
                <h5 class="text-center mb-4">Add Your Pickup Details Here</h5>
                <form class="form-card">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Buyer name<span class="text-danger"> *</span></label> <input type="text" id="fname" name="fname" placeholder="Enter your name" > </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Province<span class="text-danger"> *</span></label> <input type="text" id="province" name="province" placeholder="Enter your province" > </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Mobile<span class="text-danger"> *</span></label> <input type="text" id="mobile" name="mobile" placeholder="Enter your mobile no" > </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Pickup Time<span class="text-danger"> *</span></label> <input type="text" id="pcktime" name="pcktime" placeholder="Enter pickup time" > </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Pickup Date<span class="text-danger"> *</span></label> <input type="text" id="pckdate" name="pckdate" placeholder="Enter pickup date" > </div>
                         <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Driver NIC<span class="text-danger"> *</span></label> <input type="text" id="drnic" name="drnic" placeholder="Enter driver nic" > </div>
                    </div>
                     <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Vehicle No<span class="text-danger"> *</span></label> <input type="text" id="vcno" name="vcno" placeholder="Enter vehicle no" > </div>
                        
                    </div>
                   
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">Submit</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        </body>
    </html>