<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
        <title>Cancel Your PickUp</title>
        <link rel="stylesheet" href="/pickupcancelstyles.css">


    </head>
    <body>
        <div class="container"> <div class=" text-center mt-5 ">
        <h2>Request Cancellation</h2>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form id="contact-form" role="form">
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form class="form-card" action="" method="POST"></form>
                                        <div class="form-group"> <label for="form_name">Pickup ID *</label> <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your pickup id *" required="required" data-error="Firstname is required." readonly> </div>
                                    </div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group"> <label for="form_email">Pickup Date *</label> <input id="form_email" type="date" name="pcdate" class="form-control" placeholder="Please enter pickup date *" required="required" data-error="Valid date is required."> </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group"> <label for="form_message">Reason *</label> <textarea id="form_message" name="message" class="form-control" placeholder="Write your reason here." rows="4" required="required" data-error="Please, leave us a message."></textarea> </div>
                                    </div>
                                    <div class="col-md-12"> <input type="submit" class="btn btn-success btn-send pt-2 btn-block " value="Send"> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- /.8 -->
        </div> <!-- /.row-->
    </div>
</div>
        </body>
</html>