<link rel="stylesheet" href="/resetpassword.css">
<script src = "javascripts/fregister.js"> </script>

<br><br><br><br><br>

<div class = "container mt-5" style="width:30%; background-color: whitesmoke;">

            <form action = "fhand/resetpassword" method = "POST">

                <a href="/fprofile" style="text-decoration: none;"><h5> < Back to Profile</h5></a>

                <center> <h1 style="font-weight: bold; color: seagreen;"> Reset Password </h1> </center>
                <hr style="border: 2px solid black;"> 
    
                <div class="form-group">
                    <label for="em" style="font-weight: bold"> User Email Address </label>
                    <input type="email" name="em" id="em" class="form-control" placeholder="Enter Your E-mail Address" pattern="[a-zA-Z0-9.%+-]*{8}" required>
    
                </div>
    
                <div class="form-group">
                    <label for="repass" style="font-weight: bold"> New Password  </label>
                    <input type = "password" class = "form-control" id = "pwd" name = "pwd" placeholder = "Enter Your New Password" required>
                </div>
    
                <br>
    
            <center> <button type="submit" class="btn btn-primary" style="background-color: white;  width: 45%; border: 4px green solid; color:dimgray; font-size: small; font-weight: bold;" onclick="alertEmail('reset')" id="reset"> Reset </a></button> </center>
            
            <br>

            </form>

        </div>