body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    background-repeat: no-repeat;
    
    
}

.table.table-bordered th {
    text-align: center;
}
.danger-text {
    color: #ff3547; 
}  
.success-text {
    color: #00C851; 
}
.form-2 .input-group-addon {
    border: 1px solid #ba68c8;
}


