body {
    color: #000;
    overflow-x: hidden;
    background-color: lavender;
    background-repeat: no-repeat;
    
    
}
body h2{
    text-align: center;
    color: lightseagreen;

}



.table.table-bordered th {
    text-align: center;
    margin-top: 50px;
}

.form-2 .input-group-addon {
    border: 1px solid #ba68c8;
}


