body {
    color: #000;
    overflow-x: hidden;
    background-image: url("img/food.jpg");
    background-repeat: no-repeat;
    
    
}

.table.table-bordered th {
    text-align: center;
}

.form-2 .input-group-addon {
    border: 1px solid #ba68c8;
}


